<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor="pink">
<h1>MRF cricket bat sachin sir used to play </h1>
<p> Sachin is the legend.he score more than 50000 in intl cricket</p>
<p>Sachin Ramesh Tendulkar.....</p>
<p>Dhoni finishes off in style. A magnificent strike into the crowd! India lift the World Cup after 28 years..&&the pary begin in dressing room</p>
<p> Remamber the name mahendra singh dhoni</p>
<a href="https://web.whatsapp.com/">click on link to go to google</a>
</body>
</html>